.center {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.chadcat {
	max-width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.listcenter {
	text-align: center;
  	list-style-position: inside;
}

h1 {
	text-align: center;
	font-size: 7vw;	
}

p {text-align: center;}

#nav {
	text-align: center;
	line-height: 30px;
}

#nav li {
	list-style: none;
	margin: 0 20px;
	display: inline;
	
}

ol { 
	display: inline-block;
	padding: 20px;
	border: 1px solid black;
  	width: 50px;
  	border-radius: 5px;
}

th.eka, td.eka {
	background-color: #66ffcc;
	text-align: center;
	border: 1px solid white;
  	border-collapse: collapse;
}
table.poyta {
 	margin-left: auto; 
 	margin-right: auto;
	width:60%;
	border: 1px solid white;
	border-collapse: collapse;
}

th.toka, td.toka {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

table.eripoyta {
	width: 30%;
	border-collapse: collapse;
	font-family: arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
}

tr.toka:nth-child(even) {
	background-color: #dddddd;
}

ul {padding: 0;}

li a {text-decoration: none;}

li a:hover {color: green;}