/* Body style */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* Header style */

.headercontainer {
  margin: 0;
  width: 100%
  position: relative;
  background-color: black; 
}

.headercontainer:after {
  content: "";
  display: block;
  clear: both;
}

.headerimagebox {
  position: relative;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10%;
  width: 30vw;
}

.headerimage {
  border: 5px solid black;
  border-radius: 50%;
  width: 100%;
}

.headerheadingbox {
  margin: 3%;
  float: left;
  width: 30vw;
}

h1 {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  color: white;
  font-size: 20vw;
}

/* Section 1 style */

.section1container {
  margin: 0;
  width: 100%
  position: relative;
  background-color: white;
}

.section1container:after {
  content: "";
  display: block;
  clear: both;
}

.section1text {
  float: left;
  margin-left: 30px;
  margin-right: 20px;
  max-width: 1000px;
  
}

.section1box {
  float: right;
  margin: 20px;
  color: #888888;
}

.section1image {
  width: 100%;
  height: auto;
  border: 10px solid white;
  border-radius: 100px;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 38px;
  margin: 20px 0 0 0;
}

p {
  margin: 0;
  line-height: 1.4;
}
