							/* Body style */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

							/* Header style */
	
.headercontainer {
  margin: 0;
  width: 100%
  position: relative;
  background-color: black; 
}

.headercontainer:after {
  content: "";
  display: block;
  clear: both;
}

.headerimagebox {
  position: relative;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10%;
  width: 30vw;
}

.headerimage {
  border: 5px solid black;
  border-radius: 50%;
  width: 100%;
}

.headerheadingbox {
  margin: 3%;
  float: left;
  width: 30vw;
}

.headerheadingbox h1 {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  color: white;
  font-size: 20vw;
}

							/* Section 1 style */

.section1container {
  margin: 0;
  width: 100%
  position: relative;
  background-color: white;
}

.section1container:after {
  content: "";
  display: block;
  clear: both;
}

.section1text {
  float: left;
  margin-left: 30px;
  margin-right: 20px;
  max-width: 1000px;
  
}

.section1box {
  float: right;
  margin: 20px;
  color: #888888;
}

.section1image {
  width: 85%;
  height: auto;
  border: 10px solid white;
  border-radius: 100px;
}

.section1text h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 38px;
  margin: 20px 0 0 0;
}

.section1text p {
  margin: 0;
  line-height: 1.4;
}

							/* Section 2 style */

.section2heading h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 38px;
  margin: 0 30px;
}

.section2scroll {
  background-color: black;
  overflow: auto;
  white-space: nowrap;
  padding: 20px;
}

.section2scrollitem {
  display: inline-block;
  color: white;
  padding: 0 15px;
  text-decoration: none;
}

.section2scrollitem img {
  width: 200px;
}

							/* Section 3 style */

.section3heading h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 38px;
  text-align: center;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-wrapper {
  width: 1000px;
  float:none;
  margin-left:auto;
  margin-right:auto;
  max-width: 100%;
  margin-bottom: 30px;    
}

							/* Footer style */

footer {
  background-color: #555555;
}

footer p {
  margin: 0;
  text-align: center;
  color: white;
  padding: 10px;
}

footer a {
  margin: 0;
  padding: 0;
  color: blue;
}

footer a:hover {
  color: red;
  background-color: blue;
}




