body {
  margin: 0;
}

section {
  margin: auto;
  width: 50vw;
  line-height: 1.3;
}

h2 {
  display: inline-block;
}

img {
  display: inline-block;
  height: 5rem;
}

footer {
  margin-top: 2rem;
  height: 2rem;
  text-align: center;
  background-color: #555555;
}
footer p {
  margin: 0;
}