:root {
    --main-bg-color: #F8F0E5;
    --main-textfield-color: #EADBC8;
    --main-post-color: #DAC0A3;
    --main-accant-color: #102C57;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}
p {
    padding: 0 10px;
}


header {
    height: 5vh;
    color: var(--main-accant-color);
    border-bottom: var(--main-accant-color) solid 2px;
}
#heading {
    margin-left: 5rem;
}

main {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

#postTile {
    background-color: var(--main-post-color);
    border: var(--main-accant-color) solid 1px;
    border-radius: 0.5rem;
    max-width: 769px;
    align-self: center;
}
#postHeader {
    height: fit-content;
    border-bottom: var(--main-accant-color) solid 1px;
    display: flex;
    justify-content: space-between;
}
#postText {
    height: fit-content;
}

@media screen and (max-width: 768px) {
    header {
        height: fit-content;
        color: var(--main-accant-color);
        border-bottom: var(--main-accant-color) solid 2px;
    }
    #heading {
        margin: 0.3em 0.5em 0.3em 0.5em;
    }
    #postTile {
        background-color: var(--main-post-color);
        border: var(--main-accant-color) solid 1px;
        border-radius: 0.5rem;
        max-width: 95%;
    }
    #postHeader {
        height: fit-content;
    }
    #postText {
        min-height: fit-content;
    }
}