.subscribe-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 2px;
  margin: 8px;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
}
.subscribe-button:hover {
  opacity: 0.8;
}
.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: rgb(255 ,255, 255);
  border: 1px solid rgb(85, 85, 238);
  padding: 9px 16px;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(85,85,238);
  margin: 8px;
  transition: background-color 0.15s, color 0.15s;
  vertical-align: top;
}
.join-button:hover{
  background-color: rgb(85,85,238);
  color: rgb(255 ,255, 255);
}
.join-button:active{
  opacity: 0.7;
}

.tweet-button{
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin: 8px;
  transition: box-shadow 0.15s;
  vertical-align: top;
}
.tweet-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}